<% layout('__layout') -%>

<% script('/javascripts/infra/commonTemplate.js') -%>
<% script('/javascripts/router/indexRouter.js') -%>
<% script('/javascripts/controllers/baseController.js') -%>
<% script('/javascripts/controllers/questionController.js') -%>
<% script('/javascripts/views/questionsView.js') -%>
<% script('/javascripts/views/tagView.js') -%>


<script type='text/x-handlebars', data-template-name='tags'>
  <ul class='tagCloud-container pan mtm'>
  {{#each tag in tags itemController="question"}}
    <li class='tag-container'>
      {{render 'tag' tag}}<small class='muted'>x {{abbreviateNumber tag.questioncount}}</small>
    </li>
  {{else}}
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-lg-12'>
        <h5 class='muted mtm'>No related tags.</h5>
      </div>
    </div>
  {{/each}}
  </ul>
</script>

<script type='text/x-handlebars', data-template-name='questions'>
  {{outlet headerBar}}
  
  <div class='container'>
    <div class='content'>
      <div class='row question-list-page'>
        <div class='col-xs-12 col-sm-12 col-lg-9 z-index-1'>
          <div class='mainSection'>
            <div class='row contentTitle'>
              <div class='col-xs-12 col-sm-7 col-lg-7'>
                <h1 class='mtm' id='h1Sortedby'></h1>
              </div>
              <div class="col-xs-12 col-sm-5 col-lg-5">
                <div class="sortGroup btn-group" >
                  <a id='apopular' href='/?sort=popular' class="btn btn-danger">Popular</a>
                  <a id='alatest' href='/?sort=latest' class="btn btn-danger">Latest</a>
                  <a id='aunresolved' href='/?sort=unresolved' class="btn btn-danger">Unresolved</a>
                </div>
              </div>
            </div>
            <div class='question-list'>
              {{#each question in questions itemController="question"}}
                {{render 'entity' question}}
              {{else}}
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <h5 class='muted mtm'>Be first to add a question to this forum.</h5>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-lg-3 z-index-0'>
          <div class='sideSection'>
            <div class='row contentTitle'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                <h1 class='related-tags'>Related Tags</h1>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                {{outlet relatedTags}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{render 'footer'}}
</script>