<% layout('__layout') -%>

    <%if (environment === 'production') { %>
        <script type='text/javascript' src='/_min/js/global.combined.js?v=<%=rv%>'></script>
        <script type='text/javascript' src='/_min/js/index.combined.js?v=<%= rv %>'></script>
    <% } %>
    <%if (environment === 'development') { %>
        <% script('/javascripts/router/indexRouter.js') -%>
        <% script('/javascripts/controllers/baseController.js') -%>
        <% script('/javascripts/controllers/questionController.js') -%>
        <% script('/javascripts/views/questionsView.js') -%>
        <% script('/javascripts/views/tagView.js') -%>
    <% } %>

<script type='text/x-handlebars', data-template-name='questions'>
  {{outlet headerBar}}
  
  <div class='container'>
    <div class='content'>
      <div class='row question-list-page'>
        <div class='col-xs-12 col-sm-12 col-lg-9 z-index-1'>
          <div class='mainSection'>
            <div class='row contentTitle'>
              <div class='col-xs-12 col-sm-7 col-lg-7'>
                <h1 class='mtm' id='h1Sortedby'></h1>
              </div>
              <div class="col-xs-12 col-sm-5 col-lg-5">
                <ul class="nav nav-tabs right-nav-tabs" data-default='latest'>
                  <li><a id='alatest' href='/?tab=latest'>Latest</a></li>
                  <li><a id='avotes' href='/?tab=votes'>Votes</a></li>
                  <li><a id='aactive' href='/?tab=active'>Active</a></li>
                  <li><a id='aunresolved' href='/?tab=unresolved'>Unresolved</a></li>
                </ul>
              </div>
            </div>
            <div class='question-list'>
              {{#each question in questions itemController="question"}}
                {{render 'entity' question}}
              {{else}}
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <h5 class='muted mtm'>Be first to add a question to this forum.</h5>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-lg-3 z-index-0 sideSection-container slideSideSection'>
          <div class='sideSection'>
            <div class='row contentTitle'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                <h1 class='related-tags'>Related Tags</h1>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                {{outlet relatedTags}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{render 'footer'}}
</script>