<% layout('__layout') -%>

<% script('/javascripts/router/indexRouter.js') -%>
<% script('/javascripts/controllers/accountController.js') -%>
<% script('/javascripts/controllers/questionController.js') -%>
<% script('/javascripts/views/questionsView.js') -%>


<script type='text/x-handlebars', data-template-name='tag'>
  <span class='label label-default mrs'>
    <a data-toggle='popover' {{bindAttr data-content='description'}} {{bindAttr data-original-title='name'}} {{bindAttr href='selfurl'}}>{{name}}</a>
  </span>
</script>

<script type='text/x-handlebars', data-template-name='questions'>
{{view Deific.HeaderView}} 
<div class='container'>
  <div class='content'>
    <div class='row question-list-page'>
      <div class='col-xs-12 col-sm-12 col-lg-9'>
        <div class='mainSection'>
          <div class='row contentTitle'>
            <div class='col-xs-12 col-sm-7 col-lg-7'>
              <h1>Popular Questions</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5">
              <div class="mts">
                <div class="sortGroup mtm btn-group" >
                  <a id='apopular' href='/?sort=popular' class="btn btn-danger">Popular</a>
                  <a id='alatest' href='/?sort=latest' class="btn btn-danger">Latest</a>
                  <a id='aunresolved' href='/?sort=unresolved' class="btn btn-danger">Unresolved</a>
                </div>
              </div>
            </div>
          </div>
          <div class='question-list container'>
            {{#each question in questions itemController="question"}}
              {{#if isfavtag}}
              <div class='question row isfavtag'>
              {{else}}
              <div class='question row'>
              {{/if}}
                <div class='col-xs-12 col-sm-1 col-lg-1 user-profile'>
                  <div class='divPic'><a class='user-img' {{bindAttr href='author.selfurl'}} {{bindAttr title='author.fullname'}}><img {{bindAttr src='author.smallimgurl'}}/></a></div>
                  <div class='divUserDetails'>
                    <div class='divUser'>
                      <a {{bindAttr href='author.selfurl'}} {{bindAttr title='author.fullname'}}>
                        <span class='fname'>{{author.firstname}}</span><span class='lname'>{{author.lastname}}</span>
                      </a>
                      </div>
                    <div class='divPts'>{{abbreviateNumber author.reputation}}</div>
                  </div>
                  <div class='divPosted'>
                    asked...
                  </div>
                </div>
                <div class='col-xs-12 col-sm-9 col-lg-9'>
                  <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12'>
                      <h4 class='question-title'>
                        {{#if isanswered}}
                          <span class='answered' title='one of the answer was accepted as answer'></span>
                        {{else}}
                          <span class='unanswered' title='none of the answers was accepted as answer'></span>
                        {{/if}}
                        <a {{bindAttr title='text'}} {{bindAttr href='selfurl'}}>{{title}}</a>
                      </h4>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12 font9'>
                      {{text}}... <a {{bindAttr href='selfurl' title='Click to read more'}}>more</a>
                    </div>
                    </div>
                  <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12 question-details'>
                      <span class="mrs">{{votecount}} {{pluralize votecount s='vote'}}</span>
                      <span class='mrs'>&#8226; {{answercount}} {{pluralize answercount s='answer'}} </span>
                      <span class='mrs'>&#8226; {{viewcount}} {{pluralize viewcount s='view'}}</span>
                    </div>
                  </div>
                   <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12 question-tag'>
                      <div class='pbl tag-container'>
                        {{#each tag in tags}}
                          {{render 'tag' tag}}
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col-xs-12 col-sm-2 col-lg-2'>
                  <div class='divTime'>
                    {{sincetime __utcdatecreated}}
                  </div> 
                </div>
              </div>              
            {{/each}}
          </div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-12 col-lg-3'>
        <div class='sideSection'>
          <div class='row'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{view Deific.FooterView}} 
</script>