<% layout('__layout') -%>

<% script('/javascripts/router/loginRouter.js') -%>
<% script('/javascripts/controllers/loginController.js') -%>
<% script('/javascripts/views/loginView.js') -%>


<script type='text/x-handlebars', data-template-name='login'>
  {{outlet headerBar}}

  <div class='container'>
    <div class='content'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-lg-12 z-index-1'>
          <div class='mainSection'>
            <div class='row border-bottom'>
              <h3 id='title' class='mts pll mbs transform-capitalize'>Log In</h3>
            </div>
            <div class='ptm mtm mll mrl'>
              {{#if view.showDefault}}
                <div class='row login-nav'>
                  <div class='col-lg-12'>
                    <p>Do you already have an account with following sites?</p>
                  </div>
                  <div class='col-xs-12 col-sm-4 col-lg-3'>
                    <a href='javascript:void(0)' {{action lgnAppacitive target=view}} class='btn btn-flat btn-skyblue'>
                      login with <span><%= brand %></span>
                    </a>
                  </div>
                  {{#if view.allowFBLogin}}
                  <div class='col-xs-12 col-sm-4 col-lg-3'>
                    <a href='javascript:void(0)' {{action lgnFacebook target=view}} class='btn btn-flat btn-skyblue'>
                      login with <span>facebook</span>
                    </a>
                  </div>
                  {{/if}}
                  {{#if view.allowTwitterLogin}}
                  <div class='col-xs-12 col-sm-4 col-lg-3'>
                    <a href='javascript:void(0)' {{action lgnTwitter target=view}} class='btn btn-flat btn-skyblue'>
                      login with <span>twitter</span>
                    </a>
                  </div>
                  {{/if}}
                </div>
                <div {{bindAttr class=':row view.allowSignUp:show:hide'}}>
                  <div class='col-xs-12 mtl pts'>
                    Do not have an account on any of above
                  </div>
                  <div class='col-xs-12'>
                    <a class='font120' href='javascript:void(0)' {{action showCreateAccount target=view}}>Click here to sign up</a>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-xs-12 mtl'>
                    Forgotten or lost your login information
                  </div>
                  <div class='col-xs-12'>
                    <a class='font120' href='javascript:void(0)' {{action showRecoverAccount target=view}}>Click here to recover your account</a>
                  </div>
                </div>
              {{/if}}
              {{#if view.showLogin}}
                <form id='frmLogin' class="form-horizontal" role="form">
                  <h3>Appacitive Account</h3>
                  <div class="form-group">
                    <div class="col-lg-12 ptm">
                      {{view view.submitTextField valueBinding='view.login.email' type='text' class='login-input form-control login-email' placeholder='Enter your email address'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12">
                      {{view view.submitTextField valueBinding='view.login.password' type='password' class='login-input form-control login-pwd' placeholder='Enter your password'}}
                    </div>
                  </div>
                  <div class='form-group login-error hide'>
                    <div class="col-lg-12">
                      <label class='control-label'>{{view.login.error}} </label>
                    </div>
                  </div>
                  <div class="form-group ptm">
                    <div class="col-lg-12">
                      <button data-loading-text="Log In" class="btn btn-primary" {{action "signIn" target="view"}}>Log In</button>
                      <button data-loading-text="Cancel" class="btn mlm" {{action "cancel" target="view"}}>Cancel</button>
                    </div>
                  </div>
                </form>
              {{/if}}
              {{#if view.showfblogin}}
                <div class='fblogin'>
                  <div class='row form-group fb-loggin-in hide'>
                    <div class='col-lg-12'>
                      logging in using facebook ...
                    </div>
                  </div>
                  <div class="row form-group fb-login-error">
                    <div class="col-lg-12">
                      <label class='control-label'>{{view.login.error}} </label>
                    </div>
                  </div>
                  <div class="row form-group ptm fb-login-error">
                    <div class="col-lg-12">
                      <button data-loading-text="Cancel" class="btn" {{action "cancel" target="view"}}>Back</button>
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if view.twitterLoginFailed}}
                <div class='twiiterlogin'>
                  <div class="row form-group twitter-login-error has-error">
                    <div class="col-lg-12">
                      <label class='control-label'>Some error occurred while login using Twitter.</label>
                    </div>
                  </div>
                  <div class="row form-group ptm twitter-login-error has-error">
                    <div class="col-lg-12">
                      <button data-loading-text="Cancel" class="btn" {{action "cancelTwitter" target="view"}}>Back</button>
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if view.showSignup}}
                <form id='frmSignup' class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-lg-12 ptm">
                      {{view view.submitTextField valueBinding='view.register.email' type='text' class='login-input form-control login-email' placeholder='Email address'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12">
                      {{view view.submitTextField valueBinding='view.register.name' type='text' class='login-input form-control login-name' placeholder='Display Name'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12">
                      {{view view.submitTextField valueBinding='view.register.password' type='password' class='login-input form-control login-pwd' placeholder='Password'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12">
                      {{view view.submitTextField valueBinding='view.register.repassword' type='password' class='login-input form-control login-repwd' placeholder='Re-Enter password'}}
                    </div>
                  </div>
                  <div class='form-group signUp-error hide'>
                    <div class="col-lg-12">
                      <label class='control-label'>{{view.login.error}} </label>
                    </div>
                  </div>
                  <div class="form-group ptm">
                    <div class="col-lg-12">
                      <button data-loading-text="Singing Up" class="btn btn-primary" {{action "signUp" target="view"}}>Sign Up</button>
                      <button data-loading-text="Cancel" class="btn mlm" {{action "cancel" target="view"}}>Cancel</button>
                    </div>
                  </div>
                </form>
              {{/if}}
              {{#if view.showRecover}}
                {{#if view.showRecoverForm}}
                <div class='row'>
                  <div class='col-lg-12'>
                    If you can not sign in or have forgotten your password, enter your email address below, and we will send you an email with reset password link. From where you can reset your password.
                  </div>
                  <div class='col-lg-12'>
                    <form id='frmRecover' class="form-horizontal" role="form">
                      <div class="form-group ptm">
                        <div class="col-lg-12 ptm">
                          {{view view.submitTextField valueBinding='view.recover.email' type='text' class='login-input form-control recover-email' placeholder='Enter your email address'}}
                        </div>
                      </div>
                      <div class='form-group recover-error hide'>
                        <div class="col-lg-12">
                          <label class='control-label'>{{view.login.error}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-12">
                          <button data-loading-text="Sending Recovery Email" class="btn btn-primary" {{action "requestPasswordReset" target="view"}}>Send Recovery Email</button>
                          <button data-loading-text="Cancel" class="btn mlm" {{action "cancel" target="view"}}>Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                {{else}} <!-- show success -->
                  <div class='row'>
                    <div class='col-lg-12 pbm'>
                      <b class='font110'>A recovery email has been sent to <span {{view.recover.email}}</b>
                    </div>
                    <div class='col-lg-12'>
                      If you do not see this email in your inbox within 15 minutes, look for it in your junk-mail folder. If you find it there, please mark the email as Not Junk.
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalSessionExpired" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Session Expired</h4>
        </div>
        <div class="modal-body">
          <div class='mbs'>Your session has <strong>expired</strong>.</div>
          <div class='mbs'>It can be due to any of the following reasons</div>
          <ul class='mll pls'>
            <li>Your browswer was <strong>idle</strong> for too long.</li>
            <li>You have <strong>cleared the cookies</strong> from your browswer.</li>
            <li><strong>Computer date set incorrectly</strong>: Cookies rely on dates and an incorrect date can confuse your browser, causing it to "forget" your cookie. To fix this, set the correct time and date on your computer.</li>
            <li><strong>Security programs</strong>: If you have virus or spyware protection programs installed on your computer they can monitor or block cookies being sent to your computer. Try Temporarily turning off anti-virus, anti-spyware, and firewall products before signing in.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div id="fb-root"></div>
  <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>

  {{render 'footer'}}
</script>

<% script('/javascripts/infra/fblogin.js') -%>