<% layout('__layout') -%>

<% script('/javascripts/questionrouter.js') -%>
<% script('/javascripts/infra/prettify.js') -%>
<% script('/javascripts/controllers/questionController.js') -%>
<% script('/javascripts/views/questionView.js') -%>


<script type='text/x-handlebars', data-template-name='tag'>
  <span class='label label-default'><a {{bindAttr href='view.selfurl'}}>{{tag}}</a></span>
</script>

<script type='text/x-handlebars', data-template-name='question'>
  {{view Deific.HeaderView}} 

  <div class='container'>
    <div class='content'>
      <div class='row question-page'>
        <div class='col-xs-12 col-sm-12 col-lg-9'>
        <div class='mainSection'>
          <div class='question pts'>
            <div class='row time-row'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                <div class='time-container'>
                  <div class='time-date'>
                    {{getdate __utcdatecreated}}
                  </div>
                  <div class='time-details'>
                    <div class='time-day'>
                      {{getday __utcdatecreated}}
                    </div>
                    <div class='time-month'>
                      {{getmonth __utcdatecreated}} {{getyear __utcdatecreated}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <!-- Question asked by goes here -->
              <div class='col-xs-12 col-sm-1 col-lg-1'>
                <div class='row'>
                  <div class='col-xs-8 col-sm-12 col-lg-12 user-profile'>
                    <div class='divPic'><a class='user-img' {{bindAttr href='author.selfurl'}} {{bindAttr title='author.fullname'}}><img src='/images/user-default.png'/></a></div>
                    <div class='divUserDetails'>
                      <div class='divUser'><a {{bindAttr href='author.selfurl'}} {{bindAttr title='author.fullname'}}>{{author.fullname}}</a></div>
                      <div class='divPts'>1230</div>
                    </div>
                    <div class='divPosted'>
                      asked...
                    </div>
                  </div>
                  <div class='col-xs-4 col-sm-12 col-lg-12 vote-panel'>
                    <a class='btn btn-success btn-sm' href='#'><i class='icon-large icon-thumbs-up'></i></a>
                    <a class='btn btn-danger btn-sm' href='#'><i class='icon-large icon-thumbs-down'></i></a>
                  </div>
                </div>
              </div>
              <div class='col-xs-12 col-sm-11 col-lg-11 entity-container'>
                <!-- Question title goes here -->
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <h4 class='question-title'>
                      <a class='font120' {{bindAttr href='selfurl'}}>{{ title }}</a>
                    </h4>
                  </div>
                </div>
                <!-- Question up/down vote goes here -->
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12 question-details'>
                    <span class='mrs'><span class='vote-count'>1</span> vote</span>
                    <span class='mrs'>&#8226; <span class='answer-count'>20</span> answers </span>
                    <span class='mrs'>&#8226; <span class='view-count'>05</span> views</span>
                  </div>
                </div>
                <!-- Question tags goes here -->
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12 question-tag'>
                    <div class='border-bottom pbl tag-container'>
                      {{#each tag in __tags}}
                        {{view Deific.TagView tagBinding=tag}}
                      {{/each}}
                    </div>
                  </div>
                </div>
                <!-- Question description goes here -->
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <div class='border-bottom-dashed question-desc pbxl'>
                      {{markdown description}}
                    </div>
                  </div>
                </div>
                <!-- Question comments goes here -->
                <div class='comment-container mbm'>
                  {{#each comments}}
                    <div class='comment'>
                      <div class='row'>
                        <div class='col-lg-12'>
                            <span class='comment-text'>{{markdown text}}</span> - 
                            <a {{bindAttr href='author.selfurl'}} {{bindAttr title='author.fullname'}} class='commentor'>{{author.fullname}}</a> <span class='divTime'>{{sincetime __utcdatecreated}}</span>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
                <!-- Question add comment goes here -->
                <div class='row comment-add-container'>
                    {{#if isCommenting}}
                    <div class='col-xs-12 col-sm-12 col-lg-12 mbm'>
                      {{view Ember.TextArea id='questionComment' placeholder='What needs to be done?' valueBinding='newComment' action='createComment'}}
                    </div>
                    <div class='col-xs-12 col-sm-12 col-lg-12'>
                      <button class='btn btn-xs btn-primary mrs' href='javascript:void(0)' {{action 'doneEditing'}}>Post</button>
                      <a class='font9' {{action 'edit'}} class='comment-add font9' href='javascript:void()'>Cancel</a>
                    </div>
                    {{else}}
                    <div class='col-lg-12 text-right'>
                      <a {{action 'edit'}} class='comment-add font9' href='javascript:void()'>Add a Comment</a>
                    </div>
                    {{/if}}
                </div>
              </div>
            </div>
          </div>
          <div class='bubble'>
          </div>
          <div class='mtm ptxl mbm'>
            <div class='row contentTitle'>
              <div class='col-lg-12'>
                <h1 class='mbn'>Answers</h1>
              </div>
            </div>
          </div>
          <!-- Answer List -->
          <div id='answerLoadingProgress' class='progress progress-striped active'>
            <div class='progress-bar'  role='progressbar' aria-valuemin='0' aria-valuemax='100' style='width: 100%'>
            </div>
          </div>
          <div class='answer-list ptl hide'>
            {{#each answer in answers}}
              <div class='answer'>
                <div class='row time-row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <div {{bindAttr name='answer.getfulldate'}} class='time-container'>
                      <div class='time-date'>
                        {{getdate answer.__utcdatecreated}}
                      </div>
                      <div class='time-details'>
                        <div class='time-day'>
                          {{getday answer.__utcdatecreated}}
                        </div>
                        <div class='time-month'>
                          {{getmonth answer.__utcdatecreated}} {{getyear answer.__utcdatecreated}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='row ptni pbni'>

                  <div class='col-xs-12 col-sm-1 col-lg-1'>
                    <div class='row'>
                      <div class='col-xs-8 col-sm-12 col-lg-12 user-profile'>
                        <div class='divPic'><a class='user-img' {{bindAttr href='answer.author.selfurl'}} {{bindAttr title='answer.author.fullname'}}><img src='/images/user-default.png'/></a></div>
                        <div class='divUserDetails'>
                          <div class='divUser'><a {{bindAttr href='answer.author.selfurl'}} {{bindAttr title='answer.author.fullname'}}>{{answer.author.fullname}}</a></div>
                          <div class='divPts'>1230</div>
                        </div>
                        <div class='divPosted'>
                          answered...
                        </div>
                      </div>
                      <div class='col-xs-4 col-sm-12 col-lg-12 vote-panel'>
                        <a class='btn btn-success btn-sm' href='#'><i class='icon-large icon-thumbs-up'></i></a>
                        <a class='btn btn-danger btn-sm' href='#'><i class='icon-large icon-thumbs-down'></i></a>
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-11 col-lg-11 entity-container'>
                    <div class='callout odd'>
                      <div class='arrow-container'>
                        <div class='arrow-left'></div>
                        <div class='arrow-up'></div>
                      </div>
                      <!-- Answer text goes here -->
                      <div class='row'>
                        <div class='col-xs-12 col-sm-12 col-lg-12'>
                          <div class='border-bottom-dashed question-desc pbxl'>
                            {{markdown answer.text}}
                          </div>
                        </div>
                      </div>
                      <div class='comment-container mbm border-bottom-dashed'>
                        {{#each comment in answer.comments}}
                          <div class='comment'>
                            <div class='row'>
                              <div class='col-lg-12'>
                                  <span class='comment-text'>{{markdown comment.text}}</span> - 
                                  <a {{bindAttr href='comment.author.selfurl'}} {{bindAttr title='comment.author.fullname'}} class='commentor'>{{comment.author.fullname}}</a> <span class='divTime'>{{sincetime comment.__utcdatecreated}}</span>
                              </div>
                            </div>
                          </div>
                        {{/each}}
                      </div>
                      <div class='row comment-add-container'>
                        <div class='col-lg-12 text-right'>
                          <a class='comment-add font9' href='javascript:void()'>Add a Comment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row pbxli bubble-container'>
                <div class='col-xs-12 col-sm-12 col-lg-12'>
                  <div class='bubble'>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-lg-3'>
          <div class='sideSection'>
            <div class='row'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{view Deific.FooterView}} 
</script>