<% layout('__layout') -%>

<div class='row question-page'>
  <div class='col-xs-12 col-sm-12 col-lg-9'>
    <div class='mainSection'>
      <div class='question pts'>
        <div class='row time-row'>
          <div class='col-xs-12 col-sm-12 col-lg-12'>
            <div class='time-container'>
              <div class='time-date'>
                28
              </div>
              <div class='time-details'>
                <div class='time-day'>
                  Wednesday
                </div>
                <div class='time-month'>
                  June 2013
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-sm-1 col-lg-1'>
            <div class='row'>
              <div class='col-xs-8 col-sm-12 col-lg-12 user-profile'>
                <div class='divPic'><a class='user-img' href='#'><img src='/images/user-default.png'/></a></div>
                <div class='divUserDetails'>
                  <div class='divUser'><a href='#'>Some User</a></div>
                  <div class='divPts'>1230</div>
                </div>
                <div class='divPosted'>
                  asked...
                </div>
              </div>
              <div class='col-xs-4 col-sm-12 col-lg-12 vote-panel'>
                <a class="btn btn-success btn-sm" href="#"><i class='icon-large icon-thumbs-up'></i></a>
                <a class="btn btn-danger btn-sm" href="#"><i class='icon-large icon-thumbs-down'></i></a>
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-11 col-lg-11 entity-container'>
            <div class='row'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                <h4 class='question-title'>
                  <a class='font120' href="#">How to remove data from Jquery dialogue box when I close it?</a>
                </h4>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12 col-sm-12 col-lg-12 question-details'>
                <span class="mrs"><span class='vote-count'>1</span> vote</span>
                <span class="mrs">&#8226; <span class='answer-count'>20</span> answers </span>
                <span class="mrs">&#8226; <span class='view-count'>05</span> views</span>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12 col-sm-12 col-lg-12 question-tag'>
                <div class='border-bottom pbl'>
                  <span class="label label-default">Default</span>
                  <span class="label label-default">Primary</span>
                  <span class="label label-default">Success</span>
                  <span class="label label-default">Info</span>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12 col-sm-12 col-lg-12'>
                <div class='border-bottom-dashed question-desc pbxl'>
                  <p>
                    I have JQuery dialog box for inserting new row in table. And everything works good. Few days ago when I inserted FlexiGrid for Table started a problem for me. When I insert new row dialog dissapear but when I open dialog for new insert data that is inserted before is still in dialog.
                  </p>
                  <p>
                    How to reset dialog fields after I finish with it's usage.
                  </p>
                  <p>
                    The code for dialog is this:
                  </p>
                </div>
              </div>
            </div>
            <div class='comment-container mbm border-bottom-dashed'>
              <div class='comment'>
                <div class='row'>
                  <div class='col-lg-12'>
                    <span class='comment-text'><code>How to reset dialog fields after I finish with it's usage</code> can you explain in more detail</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                  </div>
                </div>
              </div>
              <div class='comment'>
                <div class='row'>
                  <div class='col-lg-12'>
                    <span class='comment-text'><code>How to reset dialog fields after I finish with it's usage test this one</code> can you explain in more detail</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                  </div>
                </div>
              </div>
              <div class='comment'>
                <div class='row'>
                  <div class='col-lg-12'>
                     <span class='comment-text'>This looks great.</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                  </div>
                </div>
              </div>
            </div>
            <div class='row comment-add-container'>
              <div class='col-lg-12 text-right'>
                <a class='comment-add font9' href='javascript:void()'>Add a Comment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='bubble'>
      </div>
      <div class='mtm ptxl mbm'>
        <div class='row contentTitle'>
          <div class='col-lg-12'>
            <h1 class='mbn'>Answers</h1>
          </div>
        </div>
      </div>
      <div class='answer-list ptl'>
        <div class='answer'>
          <div class='row time-row'>
            <div class='col-xs-12 col-sm-12 col-lg-12'>
              <div class='time-container'>
                <div class='time-date'>
                  28
                </div>
                <div class='time-details'>
                  <div class='time-day'>
                    Wednesday
                  </div>
                  <div class='time-month'>
                    June 2013
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='row ptni pbni'>
            <div class='col-xs-12 col-sm-1 col-lg-1'>
              <div class='row'>
                <div class='col-xs-8 col-sm-12 col-lg-12 user-profile'>
                  <div class='divPic'><a href='#'><img class='user-img' src='https://www.gravatar.com/avatar/2c6f2703dc3e39b5e9c453d59883df72?s=36'/></a></div>
                  <div class='divUserDetails'>
                    <div class='divUser'><a href='#'>Some User</a></div>
                    <div class='divPts'>1230</div>
                  </div>
                  <div class='divPosted'>
                    answered...
                  </div>
                </div>
                <div class='col-xs-4 col-sm-12 col-lg-12 vote-panel'>
                  <a class="btn btn-success btn-sm" href="#"><i class='icon-large icon-thumbs-up'></i></a>
                  <a class="btn btn-danger btn-sm" href="#"><i class='icon-large icon-thumbs-down'></i></a>
                </div>
              </div>
            </div>
            <div class='col-xs-12 col-sm-11 col-lg-11 entity-container'>
              <div class='callout odd'>
                <div class='arrow-container'>
                  <div class='arrow-left'></div>
                  <div class='arrow-up'></div>
                </div>
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <div class='border-bottom-dashed question-desc pbxl'>
                      <p>
                        I have JQuery dialog box for inserting new row in table. And everything works good. Few days ago when I inserted FlexiGrid for Table started a problem for me. When I insert new row dialog dissapear but when I open dialog for new insert data that is inserted before is still in dialog.
                      </p>
                      <p>
                        How to reset dialog fields after I finish with it's usage.
                      </p>
                      <p>
                        The code for dialog is this:
                      </p>
                    </div>
                  </div>
                </div>
                <div class='comment-container mbm border-bottom-dashed'>
                  <div class='comment'>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <span class='comment-text'><code>How to reset dialog fields after I finish with it's usage</code> can you explain in more detail</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                      </div>
                    </div>
                  </div>
                  <div class='comment'>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <span class='comment-text'><code>How to reset dialog fields after I finish with it's usage test this one</code> can you explain in more detail</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                      </div>
                    </div>
                  </div>
                  <div class='comment'>
                    <div class='row'>
                      <div class='col-lg-12'>
                         <span class='comment-text'>This looks great.</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='row comment-add-container'>
                  <div class='col-lg-12 text-right'>
                    <a class='comment-add font9' href='javascript:void()'>Add a Comment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='answer'>
          <div class='row ptni pbni'>
            <div class='col-xs-12 col-sm-1 col-lg-1'>
              <div class='row'>
                <div class='col-xs-8 col-sm-12 col-lg-12 user-profile'>
                  <div class='divPic'><a href='#'><img class='user-img' src='https://www.gravatar.com/avatar/2c6f2703dc3e39b5e9c453d59883df72?s=36'/></a></div>
                  <div class='divUserDetails'>
                    <div class='divUser'><a href='#'>Some User</a></div>
                    <div class='divPts'>1230</div>
                  </div>
                  <div class='divPosted'>
                    answered...
                  </div>
                </div>
                <div class='col-xs-4 col-sm-12 col-lg-12 vote-panel'>
                  <a class="btn btn-success btn-sm" href="#"><i class='icon-large icon-thumbs-up'></i></a>
                  <a class="btn btn-danger btn-sm" href="#"><i class='icon-large icon-thumbs-down'></i></a>
                </div>
              </div>
            </div>
            <div class='col-xs-12 col-sm-11 col-lg-11 entity-container'>
              <div class='callout even'>
                <div class='arrow-container'>
                  <div class='arrow-left'></div>
                  <div class='arrow-up'></div>
                </div>
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <div class='border-bottom-dashed question-desc pbxl'>
                      <p>
                        I have JQuery dialog box for inserting new row in table. And everything works good. Few days ago when I inserted FlexiGrid for Table started a problem for me. When I insert new row dialog dissapear but when I open dialog for new insert data that is inserted before is still in dialog.
                      </p>
                      <p>
                        How to reset dialog fields after I finish with it's usage.
                      </p>
                      <p>
                        The code for dialog is this:
                      </p>
                    </div>
                  </div>
                </div>
                <div class='comment-container mbm border-bottom-dashed'>
                  <div class='comment'>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <span class='comment-text'><code>How to reset dialog fields after I finish with it's usage</code> can you explain in more detail</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                      </div>
                    </div>
                  </div>
                  <div class='comment'>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <span class='comment-text'><code>How to reset dialog fields after I finish with it's usage test this one</code> can you explain in more detail</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                      </div>
                    </div>
                  </div>
                  <div class='comment'>
                    <div class='row'>
                      <div class='col-lg-12'>
                         <span class='comment-text'>This looks great.</span> - <a href='#' class='commentor'>Amar Palsapure</a><span class='divTime'>22 minutes ago</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='row comment-add-container'>
                  <div class='col-lg-12 text-right'>
                    <a class='comment-add font9' href='javascript:void()'>Add a Comment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-xs-12 col-sm-12 col-lg-3'>
    <div class='sideSection'>
      <div class='row'>
      </div>
    </div>
  </div>
</div>