<% layout('__layout') -%>

<div class='contentTitle container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-lg-12'>
       <h1><a href='#' class='font-medium'>Remove data from JQuery dialog box when I close it </a> </h1>
    </div>
  </div>
</div>  
<div class='mainSection question-page'>
  <div class='container ptxl'>
    <div class='row'>
      <div class='col-xs-12 col-sm-1 col-lg-1 pbl'>
        <div class='row'>
          <div class='col-xs-2'></div>
          <div class='col-xs-2 col-sm-12 col-lg-12 pbxs'>
            <a href='#' class='vote-up'></a>
          </div>
          <div class='col-xs-2 col-sm-12 col-lg-12 text-center'>
            <div class='vote-sum'>10</div>
          </div>
          <div class='col-xs-2 col-sm-12 col-lg-12 ptxs'>
            <a href='#' class='vote-down'></a>
          </div>
          <div class='col-xs-4'></div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-11 col-lg-11'>
        <div class='row'>
          <div class='col-xs-12 col-sm-12 col-lg-12'>
            <p>
              I have JQuery dialog box for inserting new row in table. And everything works good. Few days ago when I inserted FlexiGrid for Table started a problem for me. When I insert new row dialog dissapear but when I open dialog for new insert data that is inserted before is still in dialog.
            </p>
            <p>
              How to reset dialog fields after I finish with it's usage.
            </p>
            <p>
              The code for dialog is this:
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-sm-12 col-lg-12'>
            <span class="label label-success">Default</span>
            <span class="label label-success">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-success">Info</span>
          </div>
        </div>
        <div class='row border-bottom pbli'>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
          </div>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
          </div>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
            <div class='user-panel'>
              <div class='row'><div class='col-xs-12 col-sm-12 col-lg-12 time-stamp'>Jan 23 '12 at 8:56</div></div>
              <div class='row'>
                <div class='col-lg-2'>
                  <a class='user-img' href='#'><img src='/images/user-default.png'/></a>
                </div>
                <div class='col-lg-10'>
                  <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12'><a class='user-name' href='#'>Some User</a></div>
                    <div class='col-xs-12 col-sm-12 col-lg-12'>
                      <div class='user-points'>
                        1230
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row comment-container'>
          <div class='comment'>
            <div class='row'>
              <div class='col-lg-12'>
                <code>How to reset dialog fields after I finish with it's usage</code> can you explain in more detail - <a href='#' >Amar Palsapure</a>
              </div>
            </div>
          </div>
        </div>
        <div class='row comment-add-container'>
           <a href='javascript:void()' class='label label-danger'>add comment</a>
        </div>
      </div>
    </div>
  </div>
  <div class='container ptxl'>
    <div class='row contentTitle'>
      <div class='col-lg-12'>
        <h1 class='mbs'>Answers</h1>
        <a class='action-question'>Answer Question</a>
      </div>
    </div>
  </div>
  <div class='answer-list container'>
    <div class='answer row ptxxli pbli border-bottom-dark'>
      <div class='col-xs-12 col-sm-1 col-lg-1 pbl'>
        <div class='row'>
          <div class='col-xs-2'></div>
          <div class='col-xs-2 col-sm-12 col-lg-12 pbxs'>
            <a href='#' class='vote-up'></a>
          </div>
          <div class='col-xs-2 col-sm-12 col-lg-12 text-center'>
            <div class='vote-sum'>10</div>
          </div>
          <div class='col-xs-2 col-sm-12 col-lg-12 ptxs'>
            <a href='#' class='vote-down'></a>
          </div>
          <div class='col-xs-4'></div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-11 col-lg-11'>
        <div class='row'>
          <div class='col-xs-12 col-sm-12 col-lg-12'>
            <p>
              I have JQuery dialog box for inserting new row in table. And everything works good. Few days ago when I inserted FlexiGrid for Table started a problem for me. When I insert new row dialog dissapear but when I open dialog for new insert data that is inserted before is still in dialog.
            </p>
            <p>
              How to reset dialog fields after I finish with it's usage.
            </p>
            <p>
              The code for dialog is this:
            </p>
          </div>
        </div>
        <div class='row border-bottom pbli'>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
          </div>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
          </div>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
            <div class='user-panel'>
              <div class='row'><div class='col-xs-12 col-sm-12 col-lg-12 time-stamp'>Jan 23 '12 at 8:56</div></div>
              <div class='row'>
                <div class='col-lg-2'>
                  <a class='user-img' href='#'><img src='/images/user-default.png'/></a>
                </div>
                <div class='col-lg-10'>
                  <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12'><a class='user-name' href='#'>Some User</a></div>
                    <div class='col-xs-12 col-sm-12 col-lg-12'>
                      <div class='user-points'>
                        1230
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row comment-container'>
          <div class='comment'>
            <div class='row'>
              <div class='col-lg-12'>
                <code>How to reset dialog fields after I finish with it's usage</code> can you explain in more detail - <a href='#' >Amar Palsapure</a>
              </div>
            </div>
          </div>
        </div>
        <div class='row comment-add-container'>
           <a href='javascript:void()' class='label label-danger'>add comment</a>
        </div>
      </div>
    </div>

    <div class='answer row ptxxli pbli border-bottom-dark'>
      <div class='col-xs-12 col-sm-1 col-lg-1 pbl'>
        <div class='row'>
          <div class='col-xs-2'></div>
          <div class='col-xs-2 col-sm-12 col-lg-12 pbxs'>
            <a href='#' class='vote-up'></a>
          </div>
          <div class='col-xs-2 col-sm-12 col-lg-12 text-center'>
            <div class='vote-sum'>10</div>
          </div>
          <div class='col-xs-2 col-sm-12 col-lg-12 ptxs'>
            <a href='#' class='vote-down'></a>
          </div>
          <div class='col-xs-4'></div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-11 col-lg-11'>
        <div class='row'>
          <div class='col-xs-12 col-sm-12 col-lg-12'>
            <p>
              I have JQuery dialog box for inserting new row in table. And everything works good. Few days ago when I inserted FlexiGrid for Table started a problem for me. When I insert new row dialog dissapear but when I open dialog for new insert data that is inserted before is still in dialog.
            </p>
            <p>
              How to reset dialog fields after I finish with it's usage.
            </p>
            <p>
              The code for dialog is this:
            </p>
          </div>
        </div>
        <div class='row border-bottom pbli'>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
          </div>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
          </div>
          <div class='col-xs-12 col-sm-4 col-lg-4'>
            <div class='user-panel'>
              <div class='row'><div class='col-xs-12 col-sm-12 col-lg-12 time-stamp'>Jan 23 '12 at 8:56</div></div>
              <div class='row'>
                <div class='col-lg-2'>
                  <a class='user-img' href='#'><img src='/images/user-default.png'/></a>
                </div>
                <div class='col-lg-10'>
                  <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-lg-12'><a class='user-name' href='#'>Some User</a></div>
                    <div class='col-xs-12 col-sm-12 col-lg-12'>
                      <div class='user-points'>
                        1230
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row comment-container'>
          <div class='comment'>
            <div class='row'>
              <div class='col-lg-12'>
                <code>How to reset dialog fields after I finish with it's usage</code> can you explain in more detail - <a href='#' >Amar Palsapure</a>
              </div>
            </div>
          </div>
        </div>
        <div class='row comment-add-container'>
           <a href='javascript:void()' class='label label-danger'>add comment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='sideSection'>
  
</div>