<% layout('__layout') -%>

<% script('/javascripts/infra/commonTemplate.js') -%>
<% script('/javascripts/router/questionRouter.js') -%>
<% script('/javascripts/infra/prettify.js') -%>
<% script('/javascripts/controllers/baseController.js') -%>
<% script('/javascripts/controllers/questionController.js') -%>
<% script('/javascripts/controllers/answerController.js') -%>
<% script('/javascripts/views/baseView.js') -%>
<% script('/javascripts/views/questionView.js') -%>
<% script('/javascripts/views/answerView.js') -%>
<% script('/javascripts/views/commentView.js') -%>
<% script('/javascripts/views/tagView.js') -%>

<script type='text/x-handlebars', data-template-name='question'>
  {{outlet headerBar}} 
  <!--{{ outlet }}-->
  <div class='container'>
    <div class='content'>
      <div class='row question-page'>
        <div class='col-xs-12 col-sm-12 col-lg-9 z-index-1'>
          <div class='mainSection'>
            <div class='question pts'>
              {{outlet questionDate}}
              {{outlet questionDetails}}
            </div>
            <div class='bubble'>
            </div>
            <div class='answer-section'>
              <div class='mtm ptxl mbm'>
                <div class='row contentTitle'>
                  <div class='col-xs-12 col-sm-7 col-lg-7'>
                    <h1>{{answercount}} Answers</h1>
                  </div>
                  <div class='col-xs-12 col-sm-5 col-lg-5'>
                    <div class='sortGroup mtm btn-group' >
                      <a id='aactive' href='?sort=active' class='btn btn-danger'>Active</a>
                      <a id='avotes' href='?sort=votes' class='btn btn-danger'>Votes</a>
                      <a id='aoldest' href='?sort=oldest' class='btn btn-danger'>Oldest</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Answer List -->
              <div class='answer-list ptl'>
                {{#each group in groupedAnswers}}
                    <div class='row time-row'>
                      <div class='col-xs-12 col-sm-12 col-lg-12'>
                        <div {{bindAttr name='getfulldate'}} class='time-container'>
                          <div class='time-date'>
                            {{getdate group.__utcdatecreated}}
                          </div>
                          <div class='time-details'>
                            <div class='time-day'>
                              {{getday group.__utcdatecreated}}
                            </div>
                            <div class='time-month'>
                              {{getmonth group.__utcdatecreated}} {{getyear group.__utcdatecreated}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Load answer here -->
                    {{#each answer in group.answers}}
                      {{render 'answerloader' answer}}
                      {{render 'answer' answer}}
                    {{/each}}
                    <div class='row bubble-container pbxli'>
                      <div class='col-xs-12 col-sm-12 col-lg-12'>
                        <div class='bubble'>
                        </div>
                      </div>
                    </div>                
                {{/each}}
              </div>
            </div>
            <!-- Provide Answer -->
            <div class='answer-input mtl mbl'>
              <div class='row contentTitle'>
                <div class='col-xs-12 col-sm-12 col-lg-12'>
                  <h1>Your Answer</h1>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1'>
                  <div id='wmd-button-bar'>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1'>
                  {{view Ember.TextArea class='resizable' id='wmd-input' name='wmd-input' placeholder='You can use Markdown language to write your answer. Click on help for more information.' valueBinding='view.newAnswer'}}
                </div>
              </div>
              <div class='row mts'>
                <div class='col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1'>
                  <small class='muted'>Watch the preview of your answer here.</small>
                  <div id='wmd-preview'></div>
                </div>
              </div>
              <div class='row hide'>
                <div class='col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1'>
                  <div id='wmd-output'>
                  </div>
                </div>
              </div>
              <div class='row mtm'>
                <div class='col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1'>
                  <button id='btnSubmitAnswer' disabled='disabled' class='btn btn-large btn-primary mrm' data-loading-text='Submitting Your Answer' href='javascript:void(0)' {{action saveAnswer target=view}}>Submit Your Answer</button>
                  <div class='alert-dismiss-container answerError'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-lg-3 z-index-0'>
          <div class='sideSection'>
            <div class='row'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='divDeleteModal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'> 
    <div class='modal-dialog'>  
      <div class='modal-content'> 
        <div class='modal-header'>  
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>  
          <h4 class='modal-title'></h4> 
        </div>  
        <div class='modal-body'>  
        </div>  
        <div class='modal-footer'>  
          <button type='button' class='btn btn-danger' data-loading-text='Deleting' data-toggle='button'>Delete</button>    
          <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>  
        </div>  
      </div><!-- /.modal-content -->  
    </div><!-- /.modal-dialog --> 
  </div><!-- /.modal -->  

  {{render 'footer'}} 
</script>