<% layout('__layout') -%>

<% script('/javascripts/infra/commonTemplate.js') -%>

<% script('/javascripts/router/baseRoute.js') -%>
<% script('/javascripts/router/freeSearchRouter.js') -%>

<% script('/javascripts/models/entity.js') -%>
<% script('/javascripts/models/paging.js') -%>

<% script('/javascripts/controllers/entityController.js') -%>
<% script('/javascripts/controllers/pagingController.js') -%>

<% script('/javascripts/views/entitiesView.js') -%>
<% script('/javascripts/views/pagingView.js') -%>

<script type='text/x-handlebars', data-template-name='entities'>
  {{outlet headerBar}}
  
  <div class='container'>
    <div class='content'>
      <div class='row question-list-page'>
        <div class='col-xs-12 col-sm-12 col-lg-9 z-index-1'>
          <div class='mainSection'>
            <div class='row contentTitle'>
              <div class='col-xs-12 col-sm-7 col-lg-7'>
                <h1 class='mtm transform-lower'><span id='h1SearchCount'>0</span>&nbsp;results</h1>
              </div>
              <div class="col-xs-12 col-sm-5 col-lg-5">
                <div class="sortGroup btn-group" >
                  <a id='alatest' href='/search?sort=latest' class="btn btn-danger">Latest</a>
                  <a id='avotes' href='/search?sort=votes' class="btn btn-danger">Votes</a>
                  <a id='aactive' href='/search?sort=active' class="btn btn-danger">Active</a>
                </div>
              </div>
            </div>
            <div class='question-list'>
              {{#each question in entities itemController="entity"}}
                <div {{bindAttr class=":question :row isanswered:isanswered"}}>
                  <div class='col-xs-12 col-sm-1 col-lg-1'>
                    <div class='user-profile'>
                      <div class='divPic'>
                        <a class='user-img' {{bindAttr href='author.url'}} {{bindAttr title='author.fullname'}}>
                          <img {{bindAttr src='author.smallimgurl'}}/>
                        </a>
                      </div>
                      <div class='divUserDetails'>
                        <div class='divUser'>
                          <a {{bindAttr href='author.url'}} {{bindAttr title='author.fullname'}}>
                            <span class='fname'>{{author.firstname}}</span><span class='lname'>{{author.lastname}}</span>
                          </a>
                          </div>
                        <div class='divPts'>{{abbreviateNumber author.reputation}}</div>
                      </div>
                      <div class='divPosted'>
                        asked...
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-9 col-lg-9'>
                    <div class='row'>
                      <div class='col-xs-12 col-sm-12 col-lg-12'>
                        <h4 class='question-title'>
                          <a {{bindAttr title='text'}} {{bindAttr href='url'}}>
                            {{#if isquestion}}
                              Q: 
                            {{else}}
                              A: 
                            {{/if}}
                            {{title}}
                          </a>
                        </h4>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-xs-12 col-sm-12 col-lg-12 font9'>
                        {{text}}... <a {{bindAttr href='url' title='Click to read more'}}>more</a>
                      </div>
                      </div>
                    <div class='row'>
                      <div class='col-xs-12 col-sm-12 col-lg-12 question-details'>
                        <span class="mrs">{{votecount}} {{pluralize votecount s='vote'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-2 col-lg-2'>
                    <div class='divTime'>
                      {{sincetime __utcdatecreated}}
                    </div> 
                  </div>
                </div>
              {{else}}
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <h5 class='muted mtm'>No matching results found.</h5>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class='pager-container'>
              <div class='row'>
                <div class='col-xs-12 col-sm-12 col-lg-12'>
                  {{outlet pagerBar}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-lg-3 z-index-0'>
          <div class='sideSection'>
            <div class='row'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{render 'footer'}}
</script>