<% layout('__layout') -%>

<% script('/javascripts/router/freeSearchRouter.js') -%>

<% script('/javascripts/models/paging.js') -%>

<% script('/javascripts/controllers/entityController.js') -%>
<% script('/javascripts/controllers/pagingController.js') -%>

<% script('/javascripts/views/entitiesView.js') -%>
<% script('/javascripts/views/pagingView.js') -%>

<script type='text/x-handlebars', data-template-name='entities'>
  {{outlet headerBar}}
  
  <div class='container'>
    <div class='content'>
      <div class='row question-search-page'>
        <div class='col-xs-12 col-sm-12 col-lg-9 z-index-1'>
          <div class='mainSection'>
            <div class='row contentTitle'>
              <div class='col-xs-12 col-sm-7 col-lg-7'>
                <h1 class='mtm transform-lower'><span id='h1SearchCount'>0</span>&nbsp;results</h1>
              </div>
              <div class="col-xs-12 col-sm-5 col-lg-5">
                <div class="sortGroup btn-group" data-default='votes'>
                  <a id='alatest' href='/search?sort=latest' class="btn btn-danger">Latest</a>
                  <a id='avotes' href='/search?sort=votes' class="btn btn-danger">Votes</a>
                  <a id='aactive' href='/search?sort=active' class="btn btn-danger">Active</a>
                </div>
              </div>
            </div>
            <div class='question-list'>
              {{#each entity in entities itemController="entity"}}
                {{render 'entity' entity}}
              {{else}}
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-lg-12'>
                    <h5 class='muted mtm'>No matching results found.</h5>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class='pager-container'>
              <div class='row'>
                <div class='col-xs-12 col-sm-12 col-lg-12'>
                  {{outlet pagerBar}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-lg-3 z-index-0'>
          <div class='sideSection'>
            <div class='row'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{render 'footer'}}
</script>